@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
       url('../fonts/TitilliumWeb-Bold.ttf')  format('truetype'),
       url('../fonts/TitilliumWeb-Bold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
       url('../fonts/TitilliumWeb-SemiBold.ttf')  format('truetype'),
       url('../fonts/TitilliumWeb-SemiBold.svg#FontName') format('svg');
}

:root {
  --color-bg: #f1f1f1;
  --color-text: #000;
  --color-primary: #FF7F00;
  --color-secondary: rgba(255, 128, 0, 0.6);
  --color-thirdly: #FF5050;
}

html, body {
    background: var(--color-bg);
    margin: 0;
    padding: 0;
}

section {
    padding: 40px;
}

h1 {
    font-size: clamp(2.188rem, 0.617vw + 2.072rem, 2.813rem);
    margin: 0 0 37px;
    font-family: "TitilliumWeb-Bold";
}

h2 {
    font-size: clamp(1.75rem, 0.185vw + 1.715rem, 1.938rem);
    margin: 26px 0;
    font-family: "TitilliumWeb-Bold";
}

h3, label, .commencer {
    font-size: clamp(1.25rem, 0.37vw + 1.181rem, 1.625rem);
    margin: 14px 0;
    font-family: "TitilliumWeb-Bold";
}

h4 {
    font-size: clamp(1.125rem, 0.247vw + 1.079rem, 1.375rem);
    margin: 10px 0;
    font-family: "TitilliumWeb-SemiBold";
}

p, option, select, input, button, a, ul, ol {
    color: var(--color-text);
    margin: 13px 0;
    font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
    font-family: "TitilliumWeb-SemiBold";
}

p, span, ul, ol {
    max-width: 700px;
}

span {
    display: block;
    margin: 12px 0 27px;
}

/* ACCUEIL */
.form__accueil {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
}

.form__elements {
    display: flex;
    flex-direction: column;
    max-width: 289px;
}

#typeVoiture {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 9px 13px 10px 13px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 41px;
    cursor: pointer;
}

#MVoiture {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 9px 0 10px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 41px;
    box-sizing: border-box;
}

#MVoiture::placeholder {
    color: var(--color-text);
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-text);
    font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
}

select {
    appearance: none;
    width: 100%;
    padding-right: 36px;
}

.voiture-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.voiture-check .check {
    color: var(--color-secondary);
    display: none;
}

.check {
    margin: 13px 0;
}

.voiture-check.actif .check {
    display: block;
}

#ajouterVoiture, .suppVehicule {
    background-color: var(--color-primary);
    border: none;
    padding: 9px 13px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    transition: all .3s ease-in-out;
}

#ajouterVoiture:hover, .suppVehicule:hover {
    background-color: var(--color-secondary);
}

.commencer {
    background-color: var(--color-primary);
    padding: 20px 16px 20px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

/* SELECTION */
.btnRetour {
    background-color: var(--color-primary);
    border-radius: 10px 0;
    border: none;
    padding: 10px;
    margin: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btnRetour:hover {
    background-color: var(--color-secondary);
}

.selection__body {
    background: url(../assets/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.selection__type {
    width: 38.54%;
    background-color: var(--color-bg);
    padding: 0;
}

.btnLiens__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.btnLiens {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-family: "TitilliumWeb-Bold";
}

.btnLiens:hover {
    background-color: var(--color-secondary);
}

.accueil__selection, .choix__types, .btnLiens__container {
    padding: 0 40px;
}

.voitureRendu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    width: 61%;
}

.choix__types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 40px;
    justify-content: center;
}

.choix__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 198px;
    padding: 10px 10px 0;
    border: var(--color-text) 1px solid;
    border-radius: 10px;
    text-decoration: none;
    margin: 0;
    transition: all .3s ease-in-out;
}

.choix__option:hover {
    background-color: var(--color-secondary);
}


/* PAGE-PARTIES */
.parties__body {
    background: url(../assets/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.btnRetour__Parties {
    background-color: var(--color-primary);
    border-radius: 10px 0;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.accueil__parties {
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 40px;
}

.accueil__parties h1 {
    margin: 0;
}

.h2__parties {
    color: var(--color-bg);
    max-width: 400px;
    margin: 26px 40px;
}

.modeleInteractif {
    position: relative;
    display: flex;
    justify-self: center;
}

.btnsModel {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.boutonInfoA, .boutonInfoB, .boutonInfoC, .boutonInfoD, .boutonInfoE, .boutonInfoF, .boutonInfoG {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 43px;
    background-color: var(--color-bg);
    border-radius: 35px;
    padding: 0 0 0 27px;
    cursor: pointer;
    border: none;
    gap: 15px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    text-decoration: none;
}

.boutonInfoA {
    top: 46%;
    left: 22%;
}

.boutonInfoB {
    top: 75%;
    left: 41%;
}

.boutonInfoC {
    top: 52%;
    left: 60%;
}

.boutonInfoD {
    top: 71%;
    left: 62%;
}

.boutonInfoE {
    top: 68%;
    left: 83%;
}

.boutonInfoF {
    top: 52%;
    left: 85%;
}

.boutonInfoG {
    top: 32%;
    left: 45%;
}

.boutonInfoA:hover {
    width: 168px;
}

.boutonInfoB:hover {
    width: 163px;
}

.boutonInfoC:hover {
    width: 209px;
}

.boutonInfoD:hover {
    width: 168px;
}

.boutonInfoE:hover {
    width: 162px;
}

.boutonInfoF:hover {
    width: 212px;
}

.boutonInfoG:hover {
    width: 295px;
}

.boutonInfo__txt {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.boutonInfoA:hover .boutonInfo__txt, .boutonInfoB:hover .boutonInfo__txt, .boutonInfoC:hover .boutonInfo__txt, .boutonInfoD:hover .boutonInfo__txt, .boutonInfoE:hover .boutonInfo__txt, .boutonInfoF:hover .boutonInfo__txt, .boutonInfoG:hover .boutonInfo__txt {
    opacity: 1;
    visibility: visible;
}

.boutonInfo__svg {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.boutonInfoA:hover .boutonInfo__svg, .boutonInfoB:hover .boutonInfo__svg, .boutonInfoC:hover .boutonInfo__svg, .boutonInfoD:hover .boutonInfo__svg, .boutonInfoE:hover .boutonInfo__svg, .boutonInfoF:hover .boutonInfo__svg, .boutonInfoG:hover .boutonInfo__svg {
    transform: rotate(0deg);
}

/* MOTEUR */
.moteur {
    padding-top: 0;
}

.select-part__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.select-part {
    background: var(--color-secondary);
    color: var(--color-text);
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    transition: all .3s;
    margin: 0;
}

.select-part:hover {
    background: var(--color-primary);
}

.select-part.selected {
    background: var(--color-primary);
    color: var(--color-text);
}

.part {
    display: none;
    opacity: 0;
    transition: all .3s;
}

.part.active {
    display: grid;
    opacity: 1;
    margin-bottom: 40px;
}

.part__h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    margin-bottom: 0;
}

.part__img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
    margin-right: 20px;
}

.part__img2 {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

.part__h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    margin: 0 0 0 20px;
}

.part__txt {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0 0 0 20px;
    align-self: center;
}

.part__txt2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    margin: 0 0 0 20px;
    align-self: center;
}

.part__ul, .part__ol {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0 0 27px 20px;
    padding: 0;
}
