@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.eot');
  src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Oswald-Bold.woff2') format('woff2'),
       url('../fonts/Oswald-Bold.woff') format('woff'),
       url('../fonts/Oswald-Bold.ttf')  format('truetype'),
       url('../fonts/Oswald-Bold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
       url('../fonts/TitilliumWeb-SemiBold.ttf')  format('truetype'),
       url('../fonts/TitilliumWeb-SemiBold.svg#FontName') format('svg');
}

:root {
  --color-bg: #f1f1f1;
  --color-text: #f1f1f1;
  --color-text-btn: #000;
  --color-primary: #FF7F00;
  --color-secondary: rgba(255, 128, 0, 0.6);
  --color-thirdly: #FF5050;
}

html, body {
    margin: 0;
    padding: 0;
}

section {
    padding: 30px;
}

.section__btnRetour, .accueil {
    margin-top: 50px;
}

h1 {
    font-size: clamp(3.563rem, 0.432vw + 3.481rem, 4rem);
    margin: 0 0 46px;
    font-family: "Oswald-Bold";
    color: var(--color-text);
}

h2 {
    font-size: clamp(2.5rem, 0.309vw + 2.442rem, 2.813rem);
    margin: 32px 0;
    font-family: "Oswald-Bold";
    color: var(--color-text);
}

h3, label, .commencer, .h3 {
    font-size: clamp(1.75rem, 0.185vw + 1.715rem, 1.938rem);
    margin: 22px 0;
    font-family: "Oswald-Bold";
    color: var(--color-text);
}

p, option, select, input, button, a, ul, ol {
    color: var(--color-text);
    margin: 13px 0;
    font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
    font-family: "TitilliumWeb-SemiBold";
}

p, span, ul, ol {
    max-width: 700px;
}

span {
    display: block;
    margin: 13px 0;
}

.NAV, h4 {
    font-size: clamp(1.188rem, 0.185vw + 1.153rem, 1.375rem);
    font-family: "TitilliumWeb-SemiBold" !important;
    margin: 16px 0;
    color: var(--color-text);
}

.legende {
    font-size: clamp(0.813rem, 0.123vw + 0.789rem, 0.938rem);
    font-family: "TitilliumWeb-SemiBold";
    margin: 11px 0;
    max-width: 300px;
}

.icone {
    width: auto;
    height: 23px;
}

img {
    width: 100%;
}

ul, ol {
    padding: 0;
}

ul {
    list-style-type: disc;
}

#accueil, #parties, #selection, #moteur, #credits {
    background: url(../assets/bg.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#freins {
    background: url(../assets/bgFreins.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#peinture {
    background: url(../assets/bgPeinture.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#chassis {
    background: url(../assets/bgChassis.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#roues {
    background: url(../assets/bgRoues.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#suspension {
    background: url(../assets/bgSuspension.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#temoins {
    background: url(../assets/bgTemoins.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#entretien {
    background: url(../assets/bgEntretien.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#diagnostiques {
    background: url(../assets/bgDiagnostiques.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h3--margin {
    margin-left: -29px;
}

/* NAV */
.menu {
    background-color: var(--color-bg);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1550;
}

.menu__img {
    height: 40px;
    width: auto;
}

.menu__btn {
    background: none;
    border: none;
    color: var(--color-text-btn);
    cursor: pointer;
}

.menu__ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-bg);
    list-style: none;
    padding: 30px 0 0;
    margin: 0;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    align-items: center;
    z-index: 1500;
}

.menu__li a {
    color: var(--color-text-btn);
    text-decoration: none;
    text-transform: uppercase;
}

.menu--open .menu__ul {
    transform: translateX(0);
}

/* ACCUEIL */
.form__accueil {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

.form__elements {
    display: flex;
    flex-direction: column;
}

#typeVoiture {
    background-color: var(--color-secondary);
    color: var(--color-text-btn);
    padding: 9px 13px 10px 13px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 41px;
    cursor: pointer;
}

#MVoiture {
    background-color: var(--color-secondary);
    color: var(--color-text-btn);
    padding: 9px 0 10px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 41px;
    box-sizing: border-box;
}

#MVoiture::placeholder {
    color: var(--color-text-btn);
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-text-btn);
    font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
}

select {
    appearance: none;
    width: 100%;
    padding-right: 36px;
}

.voiture-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.voiture-check .check {
    color: var(--color-secondary);
    display: none;
}

.check {
    margin: 13px 0;
}

.voiture-check.actif .check {
    display: block;
}

#ajouterVoiture, .suppVehicule {
    background-color: var(--color-primary);
    border: none;
    padding: 9px 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: var(--color-text-btn);
    width: 100%;
}

#ajouterVoiture:hover, .suppVehicule:hover {
    background-color: var(--color-secondary);
}

.commencer {
    background-color: var(--color-primary);
    padding: 20px 0;
    margin: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-text-btn);
    display: flex;
    justify-content: center;
    border: none;
    transition: all .3s ease-in-out;
    width: stretch;
}

.commencer:hover {
    background-color: var(--color-secondary);
}

.form__elements, .voituresEnregistrees {
    background-color: rgb(255, 255, 255, .8);
    padding: 20px;
    border-radius: 10px;
}

.color--black, .form__elements  h3, .form__elements label, .form__elements option, .voituresEnregistrees h3, .voituresEnregistrees p {
    color: var(--color-text-btn);
}

.color--black {
    margin-top: 0;
}

/* SELECTION */
.btnRetour, .btnEntretien {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btnRetour:hover, .btnEntretien:hover {
    background-color: var(--color-secondary);
}

.selection__body {
    background: url(../assets/bg.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.selection__type {
    height: 89vh;
    background-color: var(--color-bg);
    padding: 20px;
}

.btnLiens__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px 30px;
}

.btnLiens__container__selection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.btnLiens__container__selection {
    margin-top: 40px;
}

.btnLiens {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
    border-radius: 10px;
    padding: 13px 0;
    margin: 0;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btnLiens:hover {
    background-color: var(--color-secondary);
}

.accueil__selection, .choix__types, .btnLiens__container, .btnLiens__container__selection {
    padding: 0;
}

.choix__option h4, .accueil__selection h2 {
    color: var(--color-text-btn);
}
.voitureRendu {
    display: none;
}

.choix__types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 20px;
    justify-content: center;
}

.choix__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 10px 0;
    border: var(--color-text-btn) 2px solid;
    border-radius: 10px;
    text-decoration: none;
    margin: 0;
    transition: all .3s ease-in-out;
}

.choix__option:hover {
    background-color: var(--color-secondary);
}

.choix__optionImg {
    width: auto;
}

/* PAGE-PARTIES */
.parties__body {
    background: url(../assets/bg.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btnRetour__Parties {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.accueil__parties {
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 40px;
}

.accueil__parties h1 {
    margin: 0;
}

.h2__parties {
    color: var(--color-bg);
    max-width: 400px;
    margin: 26px 0;
}

.modeleInteractif {
    width: 100%;
}

.btnsModel {
    position: relative;
    width: fit-content;
    margin: 0;
}

.boutonInfoA, .boutonInfoB, .boutonInfoC, .boutonInfoD, .boutonInfoE, .boutonInfoF, .boutonInfoG {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    border: none;
    gap: 15px;
    text-decoration: none;
}

.boutonInfo__txt {
    white-space: nowrap;
    color: var(--color-text-btn);
}

.boutonInfo__svg {
    display: none;
}

.boutonInfoA:hover .boutonInfo__svg, .boutonInfoB:hover .boutonInfo__svg, .boutonInfoC:hover .boutonInfo__svg, .boutonInfoD:hover .boutonInfo__svg, .boutonInfoE:hover .boutonInfo__svg, .boutonInfoF:hover .boutonInfo__svg, .boutonInfoG:hover .boutonInfo__svg {
    transform: rotate(0deg);
}

/* MOTEUR */
.moteur {
    padding-top: 0;
}

.select-part__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.select-part {
    background: var(--color-bg);
    color: var(--color-text-btn);
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;
    margin: 0;
    display: flex;
    justify-content: center;
}

.select-part:hover {
    background: var(--color-primary);
}

.select-part.selected {
    background: var(--color-secondary);
    color: var(--color-text);
}

.part {
    display: none;
    opacity: 0;
    transition: all .3s;
}

.part.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin-bottom: 40px;
}

.btnLiens__part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 33px;
}

.part__h1 {
    margin-bottom: 0;
}

.part__h2 {
    text-align: center;
}

.iconesLiquides {
    width: auto;
    height: 16px;
}

/* ENTRETIEN */
.Entretien__container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.Entretien__cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.Entretien__img {
    position: relative;
    z-index: 10;
}

.Entretien__h3 {
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.Entretien__cart:hover .Entretien__img {
    opacity: .3;
}

.Entretien__cart:hover .Entretien__h3 {
    opacity: 1;
}

.Entretienpart__container {
    display: none;
}

.Entretienpart {
    display: none;
}

.Entretienpart.active {
    display: block;
}

@media (min-width: 701px) {
    h1, img {
        align-self: center;
    }
    section {
        padding: 40px;
    }

    .select-part__container { 
        flex-direction: row;
    }

    .btnRetour, .btnEntretien {
        margin: 0;
    }

    .accueil__selection, .choix__types, .btnLiens__container, .btnLiens__container__selection {
        padding: 0;
    }

    img, .part__img {
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 200px;
    }

    .height--100 {
        max-height: fit-content;
    }
    
    /* NAV */
    .menu {
        height: 70px;
        padding: 0 40px;
    }

    .menu__img {
        height: 60px;
    }

    .menu__btn {
        display: none;
    }

    .menu__ul {
        flex-direction: row;
        gap: 40px;
        padding: 0;
        position: static;
        width: fit-content;
        transform: translateX(0);
    }

    /* ACCUEIL */
    .form__accueil {
        flex-direction: row;
        gap: 50px;
        margin-bottom: 40px;
    }

    .form__elements {
        max-width: 330px;
    }

    .commencer {
        padding: 20px 16px 20px 20px;
        position: static;
        width: fit-content;
        margin: 0 40px 40px 0;
        float: right;
    }

    #ajouterVoiture, .suppVehicule {
        padding: 9px 13px 10px;
        width: fit-content;
    }

    /* SELECTION */
    .selection__type {
        height: 90vh;
    }

    .choix__types {
        padding: 0 40px;
    }

    .choix__option {
        width: 75%;
        max-width: 198px;
    }

    .btnLiens__container, .btnLiens__part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .btnLiens {
        padding: 13px;
    }
    
    /* PAGE-PARTIES */
    .h2__parties {
        margin: 26px 40px;
        max-width: 700px;
    }

    .modeleInteractif {
        position: relative;
        display: flex;
        justify-self: center;
        max-width: 1600px;
        max-height: 953px;
    }

    .btnsModel {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }

    .boutonInfoA, .boutonInfoB, .boutonInfoC, .boutonInfoD, .boutonInfoE, .boutonInfoF, .boutonInfoG {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 70px;
        width: 43px;
        background-color: var(--color-bg);
        border-radius: 35px;
        padding: 0 0 0 27px;
        cursor: pointer;
        border: none;
        gap: 15px;
        transition: width 0.3s ease;
        overflow: hidden;
        position: absolute;
        z-index: 10;
        text-decoration: none;
    }

    .boutonInfoA {
        top: 46%;
        left: 22%;
    }

    .boutonInfoB {
        top: 75%;
        left: 41%;
    }

    .boutonInfoC {
        top: 52%;
        left: 60%;
    }

    .boutonInfoD {
        top: 71%;
        left: 62%;
    }

    .boutonInfoE {
        top: 68%;
        left: 83%;
    }

    .boutonInfoF {
        top: 52%;
        left: 85%;
    }

    .boutonInfoG {
        top: 32%;
        left: 45%;
    }

    .boutonInfoA:hover {
        width: 158px;
    }

    .boutonInfoB:hover {
        width: 150px;
    }

    .boutonInfoC:hover {
        width: 165px;
    }

    .boutonInfoD:hover {
        width: 158px;
    }

    .boutonInfoE:hover {
        width: 150px;
    }

    .boutonInfoF:hover {
        width: 192px;
    }

    .boutonInfoG:hover {
        width: 260px;
    }

    .boutonInfo__txt {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        white-space: nowrap;
    }

    .boutonInfoA:hover .boutonInfo__txt, .boutonInfoB:hover .boutonInfo__txt, .boutonInfoC:hover .boutonInfo__txt, .boutonInfoD:hover .boutonInfo__txt, .boutonInfoE:hover .boutonInfo__txt, .boutonInfoF:hover .boutonInfo__txt, .boutonInfoG:hover .boutonInfo__txt {
        opacity: 1;
        visibility: visible;
    }

    .boutonInfo__svg {
        display: block;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        transition: transform 0.3s ease;
    }

    .boutonInfoA:hover .boutonInfo__svg, .boutonInfoB:hover .boutonInfo__svg, .boutonInfoC:hover .boutonInfo__svg, .boutonInfoD:hover .boutonInfo__svg, .boutonInfoE:hover .boutonInfo__svg, .boutonInfoF:hover .boutonInfo__svg, .boutonInfoG:hover .boutonInfo__svg {
        transform: rotate(0deg);
    }

    /* ENTRETIEN */
    .Entretien__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Entretien__img {
        max-width: 374px;
        max-height: 250px;
        width: 374px;
    }

    .row--center {
        align-self: center;
    }
}

@media (min-width: 900px) {
    .selection__type {
        height: 85.7vh;
        width: 38.54%;
        padding: 40px;
    }

    .voitureRendu {
        display: block;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        width: 61%;
        max-width: 1600px;
        max-height: 953px;
    }

    .btnLiens__container__selection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        position: absolute;
        bottom: 40px;
        width: 29.5%;
    }
}

@media (min-width: 1250px) {
    .part.active, .Entretienpart.active, .credits, .accueil {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;
    }

    /* GRID */
    .col--full {
        grid-column: 2 / 7;
    }

    .col--left {
        grid-column: 2 / 5;
    }

    .col--right {
        grid-column: 4 / 7;
    }

    .col__img--left {
        grid-column: 2 / 4;
    }

    .col__img--right {
        grid-column: 5 / 7;
    }

    .row--title {
        grid-row: 1 / 2;
    }

    .row--top {
        grid-row: 2 / 3;
    }

    .row--double {
        grid-row: 2 / 4;
    }

    .col--center {
        justify-self: center;
    }

    .col--end {
        justify-self: end;
    }

    /* GRID SPECIAL */
    .row2 {
        grid-row: 3 / 4;
    }

    .row3 {
        grid-row: 4 / 5;
    }

    .row4 {
        grid-row: 5 / 6;
    }

    .row5 {
        grid-row: 6 / 7;
    }

    .row6 {
        grid-row: 7 / 8;
    }

    .stick {
        position: sticky;
        top: 110px;
    }

    .non__centre {
        align-self: start;
    }

    .btnLiens__container__selection {
        width: 34%;
    }

    .commencer {
        padding: 20px 16px 20px 20px;
        position: fixed;
        right: 40px;
        bottom: 40px;
        width: fit-content;
        margin: 0;
    }
}
